.fundo{
    background-color: black;
    color: white;
}
  .title{
        text-align: center;
        color: white;
        background-color: black;
    }
    .aloha{
        background-color: black;           
}
.spaço{
    text-align: center;
    color: white;
    background-color: black;
    margin-top: 25em;
}
ion-content {
    --ion-background-color: #000000;
  }
  ion-toolbar {
    --padding-top: 56px ;
    --ion-background-color: #000000;
  }
  