<ion-header>
  <ion-toolbar>
    <ion-title class="title">Tutorial</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content> 
  <ion-slides class="slide" pager="true" >
    <ion-slide>
      <div>
      <img src="../../assets/Tutorial1.png">
      <img src="../../assets/tutorial2.jpg">
      <h2 class="p">No texto azul deslize pro lado para checar outras listas.</h2>
     </div>
    </ion-slide>
    <ion-slide>
      <div>
        <img src="../../assets/tutorial3.png">
        <h2 class="p">Toque na imagem para abrir/fechar detalhes do evento.</h2>
       </div>
    </ion-slide>
    <ion-slide >
      <div>
        <img class="slide3" src="../../assets/tutorial5.png">
        <h2 class="p">Ups determinam a posição do evento. Quanto mais Ups, mais acima nas listas.</h2>
       </div>
    </ion-slide>
  </ion-slides> 
</ion-content>



<ion-footer>

    <ion-button shape="round" expand="full" type="submit" (click)="close()">Pular</ion-button>

</ion-footer>