<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <button ion-button color="primary" routerLink="/home" routerDirection="backyard">
      <ion-icon name="chevron-forward-outline">
      </ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-card class="center">
    <img src="../assets/icon/profile.png" />
    <ion-card-header>
      <ion-card-subtitle>Candidato</ion-card-subtitle>
      <ion-card-title>Ivanov Machado</ion-card-title>
    </ion-card-header>
  </ion-card> 
</ion-content>
