<ion-header>
  <ion-toolbar>
    <ion-title  class="title">Log in</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="criar-user" text="" class="margin" (click)="voltar()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [hidden]="abrir">
  <ion-list *ngIf="!temqverificar">
    <ion-item class="holder">
      <ion-label position="floating" >Email :</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
  
    <ion-item class="holder">
      <ion-label position="floating">senha :</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <div>
    <p class="p" (click)="abriu()">Esqueci minha senha</p>
    
  </div>

    <ion-button  shape="round" expand="full" type="submit" (click)="login()">Log in</ion-button>
  </ion-list>

  <ion-list>
    <div *ngIf="temqverificar">
      <h2 class="p" >Enviamos um e-mail de verificação pra você</h2>
      <ion-item class="holder2"  lines="none">
        <ion-button size="default" type="submit"  (click)="enviaremaildeverific()">Re-enviar</ion-button>
        <ion-button size="default" type="submit"  (click)="emailverificado()">Confirmar</ion-button>
      </ion-item>
    </div>  
  </ion-list>
  
  <p class="p2" >Log in com Gmail:</p>
  <ion-button (click)="loginGooglecom()" class="google" >
    <ion-icon name="logo-google" size="large"></ion-icon>
  </ion-button>


</ion-content>

<ion-content [hidden]="!abrir">
  <div> 
    <p class="p" (click)="abriu()">Voltar</p>
    <ion-item class="holder2" >
      <ion-label position="floating">Email da conta :</ion-label>
      <ion-input type="email" [(ngModel)]="emailrecu"></ion-input>
      <ion-button type="submit"  (click)="enviar()">enviar</ion-button>
    </ion-item>
  </div>
</ion-content>