<ion-header>
  <ion-toolbar>
    <ion-title class="title">Registro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="criar-user" text="" class="margin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content> 
  <ion-list *ngIf="!jalogado">
  <ion-item class="holder">
    <ion-label position="floating"> Nome de Usuario :</ion-label>
    <ion-input type="email" [(ngModel)]="username"></ion-input>
  </ion-item>

    <ion-item class="holder">
      <ion-label position="floating">Email :</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
  
    <ion-item class="holder">
      <ion-label position="floating">Senha :</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item class="holder">
      <ion-label position="floating">Confirme senha :</ion-label>
      <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
    </ion-item>

    <ion-button  shape="round" expand="full" type="submit" (click)="register()">Criar</ion-button>

    </ion-list>
    <div *ngIf="jalogado">
      <p class="p" >Enviamos um link de verificação pro seu email confirme após clickar nele.</p>
      <ion-item class="holder2"  lines="none">
        <ion-button   type="submit"  (click)="enviaremaildeverific()">Reenviar</ion-button>
        <ion-button type="submit"  (click)="javerifiquei()">Confirmar</ion-button>
      </ion-item>
    </div>  
</ion-content>