ion-toolbar{
    --padding-top: 56px ;
    --background: black;
}
  
ion-content {
   --ion-background-color: #000000;
   --ion-color:#FFFFFF;
 }
 ion-title{
          --color: white;
          size: large;
 }

.holder{
    --color: #FFFFFF; 
    --placeholder-color:#FFFFFF;
    --background:black;
}
.p{
    color: white;
    margin-left: 1em;
    margin-top: 0.5em;
    margin-right: 1em;
    padding-bottom: 1em;
  }
.title{
    text-align: center;
    color: white;
    font-size: 30px;
 }
 .holder2{
    color: #FFFFFF; 
    margin-top: -1ex;
    --placeholder-color:#FFFFFF;
    --placeholder-opacity: -100%;
    text-align: center;
}
