ion-content {
	--background: black;
  }

  ion-toolbar{
    --padding-top: 24px ;
	--background: black;
	--color : white;
}
ion-item{
	--placeholder-color:#FFFFFF;
	--background:black;
	--color: white;
  
}
.centertt{
	text-align: center;
	background-color: black;
	color: white;
  }
  .a{
    margin-top: 1ex;
    font-family: sans-serif;
    font-style: Trebuchet;
    font-weight: bold;
    font-size:x-large;
  }
  