<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="" class="margin" (click)="voltar()"></ion-back-button>
    </ion-buttons>
    <ion-searchbar class="searchbar" placeholder="Eventos"(ionInput)="filterlist($event)" clearInput>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list lines="none">
    <ion-item no lines *ngFor="let evento of eventolist">
      <ion-thumbnail item-start>
        <img *ngIf="evento" class="" (click)="modalevento(evento)" [src]="evento.url">
      </ion-thumbnail>
      <div>
      <h2 *ngIf="evento" (click)="modalevento(evento)" class="com">{{ evento.nome }}  </h2>
      <h3 *ngIf="evento" (click)="modalevento(evento)" class="sub">{{ evento.lugar }}</h3>
    </div>
    </ion-item>
  </ion-list>
</ion-content>