<ion-header>
  <ion-toolbar class="tool">
    <ion-title size="large" class="centertt" (click)="scrollTop()">Oreon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fundo" #content>


  <ion-slides class="centertt">
    <ion-slide *ngIf="online.length > 0">
      <div>
        <a class="a"> Online </a>
        <ion-card *ngFor="let evento of online " class="card">
          <img class="imagem" [src]="evento.url" (click)="showmodal(evento)" />
          <ion-card-header class="">
            <ion-card-subtitle class="branco">{{ evento.dia }}</ion-card-subtitle>
            <ion-card-title class="branco">{{ evento.nome }}</ion-card-title>
            <ion-badge item-end>{{ evento.UPnum }}</ion-badge>
          </ion-card-header>
        </ion-card>
        <ion-card *ngFor="let evento of onlines" class="card">
          <img class="imagem" [src]="evento.url" (click)="showmodal(evento)" />
          <ion-card-header class="">
            <ion-card-subtitle class="branco">{{ evento.dia }}</ion-card-subtitle>
            <ion-card-title class="branco">{{ evento.nome }}</ion-card-title>
            <ion-badge item-end>{{ evento.UPnum }}</ion-badge>
          </ion-card-header>
        </ion-card>
        <ion-infinite-scroll threshold="20%" (ionInfinite)="loadOnline($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>
    </ion-slide>
    <ion-slide *ngIf="cidadesDoUsuario">
      <div>
        <a class="a">{{ cidadesDoUsuario }}</a>
        <ion-card *ngFor="let evento of cidade" class="card">
          <img class="imagem" [src]="evento.url" (click)="showmodal(evento)" />
          <ion-card-header class="">
            <ion-card-subtitle class="branco">{{ evento.dia }}</ion-card-subtitle>
            <ion-card-title class="branco">{{ evento.nome }}</ion-card-title>
            <ion-badge item-end>
              {{ evento.UPnum }}</ion-badge>
          </ion-card-header>
        </ion-card>
        <ion-card *ngFor="let evento of cidade3" class="card">
          <img class="imagem" [src]="evento.url" (click)="showmodal(evento)" />
          <ion-card-header class="">
            <ion-card-subtitle class="branco">{{ evento.dia }}</ion-card-subtitle>
            <ion-card-title class="branco">{{ evento.nome }}</ion-card-title>
            <ion-badge item-end>
              {{ evento.UPnum }}</ion-badge>
          </ion-card-header>
        </ion-card>
        <ion-infinite-scroll threshold="20%" (ionInfinite)="loadcidade($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>
    </ion-slide>

    <ion-slide>
      <div>
        <a class="a"> Nacional </a>
        <ion-card *ngFor="let evento of nacionais " class="card">
          <img class="imagem" [src]="evento.url" (click)="showmodal(evento)" />
          <ion-card-header class="">
            <ion-card-subtitle class="branco">{{ evento.dia }}</ion-card-subtitle>
            <ion-card-subtitle class="branco">{{ evento.lugar }}</ion-card-subtitle>
            <ion-card-title class="branco">{{ evento.nome }}</ion-card-title>
            <ion-badge item-end>{{ evento.UPnum }}</ion-badge>
          </ion-card-header>
        </ion-card>
        <ion-card *ngFor="let evento of nacional" class="card">
          <img class="imagem" [src]="evento.url" (click)="showmodal(evento)" />
          <ion-card-header class="">
            <ion-card-subtitle class="branco">{{ evento.dia }}</ion-card-subtitle>
            <ion-card-subtitle class="branco">{{ evento.lugar }}</ion-card-subtitle>
            <ion-card-title class="branco">{{ evento.nome }}</ion-card-title>
            <ion-badge item-end>{{ evento.UPnum }}</ion-badge>
          </ion-card-header>
        </ion-card>
        <ion-infinite-scroll threshold="20%" (ionInfinite)="loadnacional($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>
    </ion-slide>

  
  </ion-slides>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="radio-button-off-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button   routerLink="/perfil"  replaceUrl="true" routerDirection="forward">
        <ion-icon name="person-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button routerLink="/pesquisar"  replaceUrl="true" routerDirection="forward">
        <ion-icon name="search"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


</ion-content>