<ion-header>
  <ion-toolbar>
    <ion-title size="large" class="centertt">Publicar Evento</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="perfil" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides  #slides>
    <ion-slide >

        <h2 class="th2">Seu evento é <br> Presencial ou Online?</h2>
        <ion-button class="btn"  shape="round" (click)="Presencial()"> Presencial </ion-button>
        <ion-button shape="round" (click)="Online()"> Online </ion-button>
        <h2 class="th2"></h2>
       
    </ion-slide>  
    <ion-slide>    
        <h2 class="th2">Banner do evento</h2>
        <ion-card class="card">
          <input type="file" (change)="showPreview($event)" class="filebtn" #fileButton/>
          <img class="imagem"  (click)="writeUserData()" [src]="img">
        </ion-card>
        <h2 class="th2"></h2>
    </ion-slide>

    <ion-slide>
     
        <h2 class="th2">O nome</h2>
        <ion-list class="fundo">
          <ion-item  lines="none" class="itemm">
            <ion-input  #myinput enterkeyhint="done" placeholder="Show do Kleb"  type="text" [(ngModel)]="nome" ></ion-input>
            <ion-button  (click)="next()" color="primary"  [disabled]="!nome"> Confirmar
            </ion-button>
          </ion-item>
        </ion-list>
  
    </ion-slide>

    <ion-slide>
      <h2 class="th2">A data</h2>
      <ion-list lines="none" >
        <ion-item id="open-modal" class="holder">
      
          <ion-text class="holder" >{{ dia1 }}</ion-text>
        </ion-item>

        <ion-item id="open-modal2" class="holder">
  
          <ion-text class="holder" >{{ dia2 }}</ion-text>
        </ion-item>
    </ion-list>
      <ion-button class="btn2"  shape="round" (click)="novaData()"> Ok </ion-button>
    </ion-slide>

    <ion-modal trigger="open-modal">
      <ng-template>
        <ion-content>
          <ion-datetime #iondatetime size="cover" 
           [value]="dateValue" 
          (ionChange)="dateChanged(datetime.value)"
          showDefaultButtons="true">
           
          </ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>


    <ion-modal trigger="open-modal2">
      <ng-template>
        <ion-content>
          <ion-datetime #iondatetime size="cover"
           [value]="dateValue" 
          (ionChange)="dateChanged2(datetime.value)"
          showDefaultButtons="true">
           
          </ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>


    <ion-slide *ngIf="presenca">
      <h2 class="th2">O link </h2>
      <ion-list class="fundo">
        <ion-item  lines="none" class="itemm">
          <ion-input  #myinput enterkeyhint="done" placeholder="Link do evento"  type="url" [(ngModel)]="ingresso" ></ion-input>
          <ion-button   color="primary"(click)="next()"  [disabled]="!ingresso"> Confirmar
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-slide>

    <ion-slide  *ngIf="!presenca">
      <h2 class="th2">O link </h2>
      <ion-list class="fundo">
        <ion-item  lines="none" class="itemm">
          <ion-input  #myinput enterkeyhint="done" placeholder="https:"  type="url" [(ngModel)]="link" ></ion-input>
          <ion-button   color="primary"(click)="next()"  [disabled]="!link"> Confirmar
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-slide>
  
    <ion-slide *ngIf="presenca">
      <ion-list lines="none">
      <ion-item *ngIf="local" class="filtro">
        {{ local.description }}
        <ion-icon (click)="next()" class="corbot" slot="end" name="checkmark-circle-outline"></ion-icon>
      </ion-item>
    </ion-list>
      <ion-searchbar class="searchbar" placeholder="Local" (ionChange)="searchChanged()" [(ngModel)]="search">
      </ion-searchbar>
      <ion-list [hidden]="!search.length" class="filtro">
        <ion-item (click)="localizou(result)" *ngFor="let result of searchResults" class="holder">
          {{ result.description }}
        </ion-item>
      
       </ion-list> 
    </ion-slide>  

    <ion-slide>
      <ion-card class="card">
        <input type="file" (change)="showPreview($event)" class="filebtn" #fileButton/>
        <img class="imagem"  (click)="writeUserData()" [src]="img">
      </ion-card>
      <ion-list lines="none">
        <ion-item (click)="editNome()" *ngIf="nome" class="item1">
          <ion-icon  name="checkmark-done-outline"></ion-icon>
          <h6 class="ma">{{ nome }}</h6>
        </ion-item>
        <ion-item  (click)="editDia()" *ngIf="dia2" class="item1">
          <ion-icon  name="calendar-outline" ></ion-icon>
          <h6 class="ma">{{ dia2 }}</h6>
        </ion-item>
        <ion-item (click)="editIngresso()"  *ngIf="ingresso" class="item1">
          <ion-icon name="globe-outline"></ion-icon>
          <h6 class="ma">Link</h6>
        </ion-item>
        <ion-item (click)="editLink()"  *ngIf="link" class="item1">
          <ion-icon name="globe-outline"></ion-icon>
          <h6 class="ma">Link</h6>
        </ion-item>
        <ion-item (click)="editLocal()" *ngIf="local" class="item1">
          <ion-icon name="location-sharp" size="large"></ion-icon>
          <h6 class="ma">{{ local.description }}</h6>
        </ion-item>
        <ion-item class="item1">
          <ion-icon  name="person-sharp"></ion-icon>
          <h6 class="ma">{{ usuario }}</h6>
        </ion-item>
      </ion-list>  
     
        <ion-button expand="block" shape="round" (click)="save()"> Publicar </ion-button>
      
    </ion-slide>  
  
  </ion-slides>
  
 